{% extends 'base.html' %}

{% block content %}
    <header class="banner">
        <h1 class="hearder-text">This is a blog during a pandemic situtaion...</h1>
    </header>
    <h1>Hello There {{ current_user.username }}</h1>
    {% if current_user.is_authenticated %}
        {% for post in user_posts %} 
        <!-- the indentation in the html is cosmetic -->
            <div class="container">
                <h3>
                    <a href="{{ url_for('post_detail', post_id = post.id) }}">{{ post.title }}</a>
                </h3>
                <p>{{ post.content }}</p>
            </div>
        {% endfor %}
    {% else %}
        <h1>Nothing to show here...</h1>

    {% endif %}
{% endblock content %}
